openapi: 3.2.0
info:
  title: ARMO Platform Security Risks API
  description: The ARMO Platform API exposes ARMO's cloud-native and Kubernetes security data over REST.
  version: '1.0'
  contact:
    name: ARMO
    url: https://www.armosec.io
  license:
    name: ARMO Platform Terms
    url: https://www.armosec.io/terms-of-service/
servers:
- url: https://api.armosec.io/api/v1
  description: EU region
- url: https://api.us.armosec.io/api/v1
  description: US region
security:
- apiKeyAuth: []
tags:
- name: Security Risks
  description: Correlated security risks and attack chains.
paths:
  /security/risks:
    get:
      operationId: listSecurityRisks
      tags:
      - Security Risks
      summary: List security risks
      description: Retrieves the list of correlated security risks.
      responses:
        '200':
          description: A list of security risks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /security/risks/resources:
    get:
      operationId: listSecurityRiskResources
      tags:
      - Security Risks
      summary: List security-risk resources
      description: Retrieves resources associated with security risks.
      responses:
        '200':
          description: A list of resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /security/risks/severities:
    get:
      operationId: getSecurityRiskSeverities
      tags:
      - Security Risks
      summary: Get security-risk severity summary
      responses:
        '200':
          description: Severity summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /attack/chains:
    get:
      operationId: getAttackChains
      tags:
      - Security Risks
      summary: Get attack chains
      description: Retrieves attack chains matching the provided filters.
      responses:
        '200':
          description: Attack chains.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    GenericResponse:
      type: object
      additionalProperties: true
    ListResponse:
      type: object
      properties:
        total:
          type: object
          properties:
            value:
              type: integer
        response:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid X-API-KEY.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: Account access key (Agent Access Key) generated in ARMO Platform under Settings, sent in the X-API-KEY header.
